<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Secure Socket Polls</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- <script src="/js/client-sockets.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/main.css"> -->
    <script src='temp.js'></script>
    <link rel="stylesheet" href="temp.css">

</head>
<body>

    <div class='twoblock'>
        <h1>Hello World!</h1>
    </div>

    <div class='twoblock'>
        <h1>did video kill the radio star?</h1>

        <div class='votecell'>
            <h3>current yay total</h3>
            <h3 class='number'>0012929292022920</h3>
            <a class='pushme2' href="#">
                <span class='inner2'>   Y A Y   </span>
            </a>
        </div>

        <div class='votecell'>
            <h3>current yay total</h3>
            <h3 class='number'>0012929292022920</h3>
            <a class='pushme1' href="#">
                <span class='inner1'>   N A Y   </span>
            </a>
        </div>
    </div>

    <div class='footblock'>
        <h3>i'm the footer hurhurdeedur</h3>
    </div>

</body>
</html>