<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Secure Socket Polls</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- <script src="/js/client-sockets.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/main.css"> -->
    <script src='temp.js'></script>
    <link rel="stylesheet" href="temp.css">

</head>
<body>

    <div class='title'>
        <h1>Hello World!</h1>
    </div>

</body>
</html>